.about {
  padding-top: 64px;
}

.about--section {
  padding: 10px 20px;
  height: 100vh;
}

.about--section:nth-child(n + 2) {
  border-top: 1px solid white;
}

.about--section__img {
  width: 200px;
  height: auto;
  margin-top: 20px;
}

.about--section__title {
  margin-bottom: 10px;
  font-size: 3rem;
  text-align: center;
}

.about--section__content {
  font-size: 1rem;
  display: flex;
}

