.about {
  min-height: 100vh;

  padding-top: 30px;
  padding-bottom: 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.about--header {
  text-align: center;
}

.about--header__title {
  margin-bottom: 0px;
  
  text-align: center;
  font-size: 2rem;
}

.about--header__img {
  width: 200px;
  height: auto;

  margin-top: 20px;
}

.about--content {
  align-self: center;
  padding-inline-start: 20px;
}

.about--content__item {
  margin: 10px 0px;
}

