.contact {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 50px;
}

.contact__title {
  margin-bottom: 10px;
}

.contact__description {
  margin-top: 0px;
  margin-bottom: 20px;
  width: 300px;

  text-align: center;
}

.contact--form__name,
.contact--form__email,
.contact--form__subject,
.contact--form__body {
  display: block;
  width: 300px;
  margin: 10px 0px;

  border: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;

  padding: 5px;
  font-size: 1rem;
}

.contact--form__body {
  height: 250px;

  font-family: inherit;
  font-size: 1rem;
}

.contact--form__submit {
  background-color: white;
  border: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}